
body {
    padding-top: 70px;
}
section.photos {
    margin-bottom: 50px; 
    padding-top: 15px;
}
section.profile {
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #eceeef;

}
section.buttons {
    padding-bottom: 25px;
}
img.profile-photo {
    width: 200px;
    display: inline-block;
}
p.bio {
    font-style: italic;
    color: #aaaaaa;
}
p.misc {
    font-weight: bold;
    color: #DB4C2C;
}
h1.title {
    color: #DB4C2C;
}
a.slogan {
    color: #818A91
}

